* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex; // Use flexbox for the body
    flex-direction: column; // Stack children vertically
    background-color: #F5F5F5;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #FFA500;
    padding: 1.3rem;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; // Change from space-between to flex-start
    width: 70%; // Optional: set a max width for larger screens
    margin: calc(80px + 20px) auto 0; // Center the main with auto left/right margins
    padding-top:3rem;
    gap:3rem;

    .input-container,
    .output-container {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex: 1;
        display:flex;
        justify-content:center;
        align-items:center;
        gap: 0.5rem;
        min-height:10rem;
    }

    .input-container{
        background-color: white;

        flex-direction:column;
    }

    .output-container{
        background-color:#6A5ACD;
    }

}

h1 {
    font-size: 2rem;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #20B2AA;
    border-radius: 5px;
    width:75%;
    outline:none;
    &:focus{
        border-color:lighten(#20B2AA,6);
    }
}

button {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width:75%;

    &:hover {
        background-color: #FF8C00;
    }
}

.output {
    background-color: #6A5ACD;
    color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
   
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center; // Center align items
        justify-content: center; // Center vertically if there's space
        height: auto; // Allow height to be determined by content
        gap:0.5rem;
        padding-top: 0.5rem;
        margin-bottom:3rem;
    }

    h1{
        font-size:1.74rem;
    }
input,button{
    width:75%;

}
    .input-container,
    .output-container {
        width: 100%;
        margin: 10px 0; // Add vertical spacing between containers
    }

    .output{
        width: 100%;
    }
}


footer {
    position: relative;
    color: #20B2AA;
    padding: 10px;
    text-align: center;
   font-size:0.8rem; 
    width: 100%;
}


